In [100]:
import pandas as pd
import numpy as np
import nltk
from nltk.stem import PorterStemmer
from nltk.tokenize import word_tokenize,sent_tokenize
from sklearn.feature_extraction.text import CountVectorizer
import matplotlib.pyplot as plt
%matplotlib inline
ps = PorterStemmer()
cv = CountVectorizer(max_features=5000, stop_words= 'english')

In [109]:
df = pd.read_csv('tmdb_5000_credits.csv', nrows = 500)
fd = pd.read_csv('tmdb_5000_movies.csv', nrows = 500)

In [110]:
df.isna().any(), fd.isna().any()

(movie_id    False
 title       False
 cast        False
 crew        False
 dtype: bool,
 budget                  False
 genres                  False
 homepage                 True
 id                      False
 keywords                False
 original_language       False
 original_title          False
 overview                False
 popularity              False
 production_companies    False
 production_countries    False
 release_date            False
 revenue                 False
 runtime                 False
 spoken_languages        False
 status                  False
 tagline                  True
 title                   False
 vote_average            False
 vote_count              False
 dtype: bool)

df = df.dropna()
fd = fd.dropna()

In [103]:
df_cast = df[['cast', 'movie_id']]
dfc = df_cast['cast']
for i,rows in df_cast.iterrows():
    c = (rows['cast'])
    c = c.replace('[','')
    c = c.replace(']','')
    p = c.split(',')
    h = len(p)
    u=[]
    for k in range (h):
        l = p[k].split(':')
        if((l[0][2:len(l[0])-1]) == 'name'):
            u.append(l[1][2:len(l[1])-1])
    #print(u[0])
    dfc[i] = u

C:\Users\Rohit Khare\AppData\Local\Temp\ipykernel_16356\3857865939.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfc[i] = u

In [104]:
for i,rows in df_cast.iterrows():
    dfc[i] = ''.join(ps.stem(w) for w in rows['cast'])

C:\Users\Rohit Khare\AppData\Local\Temp\ipykernel_16356\201686734.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfc[i] = ''.join(ps.stem(w) for w in rows['cast'])

In [108]:
df['cast2'] = dfc
df

,movie_id,title,cast,crew,cast2
0,5,Four Rooms,"[{""cast_id"": 42, ""character"": ""Ted the Bellhop...","[{""credit_id"": ""52fe420dc3a36847f800012d"", ""de...","[Allison Anders"", Allison Anders"", Alexandre R..."
1,11,Star Wars,"[{""cast_id"": 3, ""character"": ""Luke Skywalker"",...","[{""credit_id"": ""52fe420dc3a36847f8000437"", ""de...","[George Lucas"", George Lucas"", George Lucas"", ..."
2,12,Finding Nemo,"[{""cast_id"": 8, ""character"": ""Marlin (voice)"",...","[{""credit_id"": ""52fe420ec3a36847f80006b1"", ""de...","[Andrew Stanton"", Andrew Stanton"", Andrew Stan..."
3,13,Forrest Gump,"[{""cast_id"": 7, ""character"": ""Forrest Gump"", ""...","[{""credit_id"": ""52fe420ec3a36847f800076b"", ""de...","[Alan Silvestri"", Robert Zemeckis"", Winston Gr..."
4,14,American Beauty,"[{""cast_id"": 6, ""character"": ""Lester Burnham"",...","[{""credit_id"": ""52fe420ec3a36847f8000809"", ""de...","[Thomas Newman"", Sam Mendes"", Alan Ball"", Alan..."
...,...,...,...,...,...
4798,426067,Midnight Cabaret,"[{""cast_id"": 1, ""character"": ""Dawn"", ""credit_i...","[{""credit_id"": ""582a4cdb9251417b1803dd47"", ""de...","[{""credit_id"": ""582a4cdb9251417b1803dd47"", ""de..."
4799,426469,Growing Up Smith,"[{""cast_id"": 4, ""character"": ""Smith Bhatnagar""...","[{""credit_id"": ""582e0bdfc3a368772600b6c1"", ""de...","[{""credit_id"": ""582e0bdfc3a368772600b6c1"", ""de..."
4800,433715,8 Days,"[{""cast_id"": 3, ""character"": ""Amber"", ""credit_...","[{""credit_id"": ""58713acfc3a3684f0a00a9ac"", ""de...","[{""credit_id"": ""58713acfc3a3684f0a00a9ac"", ""de..."
4801,447027,Running Forever,[],[],[]
4802,459488,"To Be Frank, Sinatra at 100","[{""cast_id"": 0, ""character"": ""Narrator"", ""cred...","[{""credit_id"": ""592b25e4c3a368783e065a2f"", ""de...","[{""credit_id"": ""592b25e4c3a368783e065a2f"", ""de..."

In [107]:
df_cast = df[['crew', 'movie_id']]
dfc = df_cast['crew']
for i,rows in df_cast.iterrows():
    c = (rows['crew'])
    #c = c.replace('[','')
    #c = c.replace(']','')
    #c = c.replace('"','')
    p = c.split(',')
    h = len(p)
    u=[]
    for k in range (h):
        l = p[k].split(':')
        if((l[0][2:len(l[0])-1]) == 'name'):
            u.append(l[1][2:len(l[1])-1])
    #print(u[0])
    #u.apply(lambda x: x.replace('"','') for x in u)
    dfc[i] = u

C:\Users\Rohit Khare\AppData\Local\Temp\ipykernel_16356\3548046321.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfc[i] = u

AttributeError: 'float' object has no attribute 'split'

In [ ]:
dfc

In [ ]:
for i,rows in df_cast.iterrows():
    c = rows['crew']
    #c.replace('"','')
    dfc[i] = ''.join(ps.stem(w) for w in c)
    dfc[i] = dfc[i].replace('"',' ')

In [ ]:
df['crew2'] = dfc

In [ ]:
df

In [ ]:
fd.columns

In [ ]:
fd = fd.iloc[:,[17] + [1] + [4] +[7]]

In [ ]:
fd_genres = fd[['genres','title']]
fdc = fd_genres['genres']

In [ ]:
for i, rows in fd_genres.iterrows():
    c = (rows['genres'])
    c = c.replace('[','')
    c = c.replace(']','')
    #c = c.replace('"','')
    p = c.split(',')
    h = len(p)
    u=[]
    for k in range (h):
        l = p[k].split(':')
        if((l[0][2:len(l[0])-1]) == 'name'):
            u.append(l[1][2:len(l[1])-1])
    #print(u[0])
    #u.apply(lambda x: x.replace('"','') for x in u)
    fdc[i] = ' '.join(ps.stem(w) for w in u)
    fdc[i] = fdc[i].replace('"','')
fdc

In [ ]:
fd['genres2'] = fdc

In [ ]:
fd

In [ ]:
fd_genres = fd[['keywords','title']]
fdc = fd_genres['keywords']
for i, rows in fd_genres.iterrows():
    c = (rows['keywords'])
    c = c.replace('[','')
    c = c.replace(']','')
    #c = c.replace('"','')
    p = c.split(',')
    h = len(p)
    u=[]
    for k in range (h):
        l = p[k].split(':')
        if((l[0][2:len(l[0])-1]) == 'name'):
            u.append(l[1][2:len(l[1])-1])
    #print(u[0])
    #u.apply(lambda x: x.replace('"','') for x in u)
    fdc[i] = ' '.join(ps.stem(w) for w in u)
    fdc[i] = fdc[i].replace('"',' ')

In [ ]:
fd['keywords2'] = fdc

In [ ]:
fd_genres = fd[['overview','title']]
fdc = fd_genres['overview']
for i, rows in fd_genres.iterrows():
    c = (rows['overview'])
    #c = c.replace('[','')
    #c = c.replace(']','')
    #c = c.replace('"','')
    p = c.split()
    #h = len(p)
    fdc[i] = ' '.join(ps.stem(w) for w in p)
    fdc[i] = fdc[i].replace('"','')
    #fdc[i] = ''.join(ps.stem(w) for w in c)

In [ ]:
fd['overview2'] = fdc

In [ ]:
fd = fd.iloc[:, [0] + [-1] + [-2] + [-3]]

In [ ]:
fd['overview'] = fd['overview2'] + fd['keywords2'] + fd['genres2']

In [ ]:
fd['overview'][0]

In [ ]:
fd = fd[['title','overview']]

In [ ]:
df = df.merge(fd, how='inner', on = 'title')

In [ ]:
df['overview'] = df['overview'] + df['cast2'] + df['crew2']

In [ ]:
X = cv.fit_transform(df['overview']).toarray()

In [ ]:
from sklearn.metrics.pairwise import cosine_similarity
x = cosine_similarity(X)

In [ ]:
x.shape

In [ ]:
def recom(movie):
    movie_index = df[df['title'] == movie].index[0]
    distance = x[movie_index]
    movie_list = sorted(list(enumerate(distance)), reverse = True, key = lambda x:x[1])[1:6]
    #print(movie_list)
    for i in movie_list:
        print(df.iloc[i[0]].title)

In [98]:
recom('Toy Story')

IndexError: index 0 is out of bounds for axis 0 with size 0

In [99]:
df

,movie_id,title,cast,crew,cast2,crew2,overview
0,11,Star Wars,"[{""cast_id"": 3, ""character"": ""Luke Skywalker"",...","[{""credit_id"": ""52fe420dc3a36847f8000437"", ""de...",mark hamilharrison fordcarrie fishpeter cushal...,george lucas george lucas george lucas gary ku...,princess leia is captur and held hostag by the...
1,12,Finding Nemo,"[{""cast_id"": 8, ""character"": ""Marlin (voice)"",...","[{""credit_id"": ""52fe420ec3a36847f80006b1"", ""de...",albert brookellen degeneralexander gouldwillem...,andrew stanton andrew stanton andrew stanton l...,"nemo, an adventur young clownfish, is unexpect..."
2,14,American Beauty,"[{""cast_id"": 6, ""character"": ""Lester Burnham"",...","[{""credit_id"": ""52fe420ec3a36847f8000809"", ""de...",kevin spaceyannette benthora birchwes bentleym...,thomas newman sam mendes alan ball alan ball a...,"lester burnham, a depress suburban father in a..."
3,22,Pirates of the Caribbean: The Curse of the Bla...,"[{""cast_id"": 12, ""character"": ""Captain Jack Sp...","[{""credit_id"": ""52fe420fc3a36847f8000f11"", ""de...",johnny deppgeoffrey rushorlando bloomkeira kni...,arthur schmidt dariusz wolski klaus badelt gor...,"jack sparrow, a freewheel 17th-centuri pirat w..."
4,24,Kill Bill: Vol. 1,"[{""cast_id"": 3, ""character"": ""Beatrix 'The Bri...","[{""credit_id"": ""56a517709251410c080054d2"", ""de...",uma thurmanlucy liuvivica a. foxdaryl hannahda...,robert rodriguez quentin tarantino quentin tar...,an assassin is shot at the altar by her ruthle...
...,...,...,...,...,...,...,...
1486,376659,Bad Moms,"[{""cast_id"": 0, ""character"": ""Amy Mitchell"", ""...","[{""credit_id"": ""5690c7adc3a3686b52001c68"", ""de...",mila kunikristen belkathryn hahnchristina appl...,jon lucas jon lucas scott moore scott moore,when three overwork and under-appreci mom are ...
1487,385383,Fight Valley,"[{""cast_id"": 2, ""character"": ""Duke"", ""credit_i...","[{""credit_id"": ""56ed0e07c3a36822590056b3"", ""de...",erin o'brienmiesha tholly holmcristiane justin...,michael p. lucas rob hawk rob hawk arthur maur...,"when tori coro turn up dead, the neighborhood ..."
1488,385736,Kicks,"[{""cast_id"": 2, ""character"": ""Marlon"", ""credit...","[{""credit_id"": ""570f87d992514102b9002c1e"", ""de...",mahershala alikofi siribochristopher meynatali...,brian reitzell joshua astrachan erik rommesmo ...,when hi hard-earn kick get snatch by a local h...
1489,394047,The Dog Lover,"[{""cast_id"": 4, ""character"": ""Sara Gold"", ""cre...","[{""credit_id"": ""58ec10d592514152ac04483f"", ""de...",allison paigjames remarlea thompsonjayson blai...,ali afshar alex ranarivelo alex ranarivelo reu...,sara gold is a young girl on a quest to save m...
1490,426469,Growing Up Smith,"[{""cast_id"": 4, ""character"": ""Smith Bhatnagar""...","[{""credit_id"": ""582e0bdfc3a368772600b6c1"", ""de...",roni akuratibrighton sharbinojason leanjul nig...,frank lotito gregory scott houghton josh rathm...,"in 1979, an indian famili move to america with..."