In [186]:
import pandas as pd
import numpy as np
import nltk
from nltk.stem import PorterStemmer
from nltk.tokenize import word_tokenize,sent_tokenize
from sklearn.feature_extraction.text import CountVectorizer
import matplotlib.pyplot as plt
from sklearn.metrics.pairwise import cosine_similarity
import warnings
warnings.filterwarnings('ignore')
%matplotlib inline
ps = PorterStemmer()
cv = CountVectorizer(max_features=5000, stop_words= 'english')

In [209]:
df = pd.read_csv("Myntra Fasion Clothing - Copy.csv", nrows = 10_000)

In [210]:
df

,Product_id,BrandName,category_by_Gender,Description,OriginalPrice (in Rs),SizeOption,Ratings,Reviews,Individual_category,Unnamed: 9,Sell Price,Discount,URL
0,2296012,Roadster,Men,roadster men navy blue slim fit mid rise clean...,1499,"28, 30, 32, 34, 36",3.9,999,jeans Bottom Wear,NaN,675,824,https://www.myntra.com/jeans/roadster/roadster...
1,13780156,LOCOMOTIVE,Men,locomotive men black white solid slim fit tra...,1149,"S, M, L, XL",4.0,999,track-pants Sports wear,NaN,632,517,https://www.myntra.com/track-pants/locomotive/...
2,11895958,Roadster,Men,roadster men navy white black geometric print...,1399,"38, 40, 42, 44, 46, 48",4.3,999,shirts Top Wear,NaN,769,630,https://www.myntra.com/shirts/roadster/roadste...
3,4335679,Zivame,Women,zivame women black saree shapewear zi3023core0...,1295,"S, M, L, XL, XXL",4.2,999,shapewear Shape wear,NaN,401,894,https://www.myntra.com/shapewear/zivame/zivame...
4,11690882,Roadster,Women,roadster women white solid v neck pure cotton ...,599,"XS, S, M, L, XL",4.2,999,tshirts Top Wear,NaN,210,389,https://www.myntra.com/tshirts/roadster/roadst...
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,12335810,TAG 7,Women,tag 7 women pack of 2 solid straight fit ankle...,2999,"S, M, L, XL, XXL, 3XL",4.2,283,leggings Bottom Wear,NaN,2009,990,https://www.myntra.com/leggings/tag-7/tag-7-wo...
9996,12441488,ETC,Women,etc women peach coloured black pure cotton pr...,1399,"S, M, L, XL",4.2,283,night-suits Night Wear,NaN,839,560,https://www.myntra.com/night-suits/etc/etc-wom...
9997,15190442,Smarty Pants,Women,smarty pants women blue animal printed night suit,1599,"S, M, L, XL, XXL",4.3,283,night-suits Night Wear,NaN,815,784,https://www.myntra.com/night-suits/smarty-pant...
9998,2712349,Amante,Women,amante black solid underwired non padded t shi...,372,"34B, 34C, 34D, 36B, 36C, 36D, 38B, 38C, 38D, 4...",4.2,283,bra Inner wear,NaN,372,0,https://www.myntra.com/bra/amante/amante-black...
9999,10525830,zebu,Women,zebu women blue white printed regular fit lou...,899,"M, L, XL",4.0,283,lounge-pants Bottom Wear,NaN,521,378,https://www.myntra.com/lounge-pants/zebu/zebu-...

In [211]:
len(df)

10000

In [212]:
df = df.drop('Unnamed: 9', axis = 1)

In [213]:
df.size

120000

In [214]:
df.describe()

,Product_id,OriginalPrice (in Rs),Ratings,Reviews,Sell Price,Discount
count,1.000000e+04,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000
mean,1.049697e+07,1711.734300,4.144460,518.801100,1001.039600,710.807500
std,3.856268e+06,976.882742,0.227729,192.509834,674.192893,462.875318
min,2.739900e+04,195.000000,2.600000,283.000000,7.000000,0.000000
25%,9.157670e+06,1098.000000,4.000000,355.000000,585.000000,450.000000
50%,1.127460e+07,1598.000000,4.200000,467.000000,855.000000,672.000000
75%,1.282550e+07,1999.000000,4.300000,646.000000,1200.000000,900.000000
max,1.803149e+07,11999.000000,4.700000,999.000000,8999.000000,6001.000000

In [215]:
df

,Product_id,BrandName,category_by_Gender,Description,OriginalPrice (in Rs),SizeOption,Ratings,Reviews,Individual_category,Sell Price,Discount,URL
0,2296012,Roadster,Men,roadster men navy blue slim fit mid rise clean...,1499,"28, 30, 32, 34, 36",3.9,999,jeans Bottom Wear,675,824,https://www.myntra.com/jeans/roadster/roadster...
1,13780156,LOCOMOTIVE,Men,locomotive men black white solid slim fit tra...,1149,"S, M, L, XL",4.0,999,track-pants Sports wear,632,517,https://www.myntra.com/track-pants/locomotive/...
2,11895958,Roadster,Men,roadster men navy white black geometric print...,1399,"38, 40, 42, 44, 46, 48",4.3,999,shirts Top Wear,769,630,https://www.myntra.com/shirts/roadster/roadste...
3,4335679,Zivame,Women,zivame women black saree shapewear zi3023core0...,1295,"S, M, L, XL, XXL",4.2,999,shapewear Shape wear,401,894,https://www.myntra.com/shapewear/zivame/zivame...
4,11690882,Roadster,Women,roadster women white solid v neck pure cotton ...,599,"XS, S, M, L, XL",4.2,999,tshirts Top Wear,210,389,https://www.myntra.com/tshirts/roadster/roadst...
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,12335810,TAG 7,Women,tag 7 women pack of 2 solid straight fit ankle...,2999,"S, M, L, XL, XXL, 3XL",4.2,283,leggings Bottom Wear,2009,990,https://www.myntra.com/leggings/tag-7/tag-7-wo...
9996,12441488,ETC,Women,etc women peach coloured black pure cotton pr...,1399,"S, M, L, XL",4.2,283,night-suits Night Wear,839,560,https://www.myntra.com/night-suits/etc/etc-wom...
9997,15190442,Smarty Pants,Women,smarty pants women blue animal printed night suit,1599,"S, M, L, XL, XXL",4.3,283,night-suits Night Wear,815,784,https://www.myntra.com/night-suits/smarty-pant...
9998,2712349,Amante,Women,amante black solid underwired non padded t shi...,372,"34B, 34C, 34D, 36B, 36C, 36D, 38B, 38C, 38D, 4...",4.2,283,bra Inner wear,372,0,https://www.myntra.com/bra/amante/amante-black...
9999,10525830,zebu,Women,zebu women blue white printed regular fit lou...,899,"M, L, XL",4.0,283,lounge-pants Bottom Wear,521,378,https://www.myntra.com/lounge-pants/zebu/zebu-...

In [216]:
sf = df.sort_values(['Sell Price','Reviews','Ratings'], ascending= [True,False,False])

In [217]:
sf

,Product_id,BrandName,category_by_Gender,Description,OriginalPrice (in Rs),SizeOption,Ratings,Reviews,Individual_category,Sell Price,Discount,URL
1306,12965780,Quechua By Decathlon,Men,quechua by decathlon men grey solid regular sh...,699,"29, 31, 32, 34, 36, 41, 42, 48",4.2,787,shorts Bottom Wear,7,692,https://www.myntra.com/shorts/quechua-by-decat...
6911,12965776,Quechua By Decathlon,Men,quechua by decathlon men brown solid regular f...,699,"29, 31, 32, 34, 36, 41, 42, 46, 48",4.2,378,shorts Bottom Wear,7,692,https://www.myntra.com/shorts/quechua-by-decat...
7247,12960954,NYAMBA By Decathlon,Men,nyamba by decathlon men grey solid regular fit...,699,"34, 36, 38, 40, 44, 52",4.2,364,shorts Bottom Wear,7,692,https://www.myntra.com/shorts/nyamba-by-decath...
7860,14210850,MANGO,Women,mango women pink floral printed organic cotton...,690,"XS, S, M, L, XL",4.1,344,tshirts Top Wear,7,683,https://www.myntra.com/tshirts/mango/mango-wom...
8180,11175006,MANGO,Women,mango women black white printed round neck pu...,690,"XS, S, M, L, XL",3.6,334,tshirts Top Wear,7,683,https://www.myntra.com/tshirts/mango/mango-wom...
...,...,...,...,...,...,...,...,...,...,...,...,...
9641,14890980,Kvsfab,Women,kvsfab women green georgette swirling volume k...,8329,"S, M, L, XL, XXL, 3XL",4.3,292,kurtas Top Wear,6330,1999,https://www.myntra.com/kurtas/kvsfab/kvsfab-wo...
7033,10635142,Hangup,Men,hangup men brown maroon sherwani with dhoti p...,9999,"S, M, L, XL, XXL, 3XL",3.6,373,sherwani Full wear,6599,3400,https://www.myntra.com/sherwani/hangup/hangup-...
9954,13563222,Ishin,Women,ishin women peach coloured embroidered kurta w...,9999,"S, M, L, XL, XXL",4.2,284,kurta-sets Top Wear,6999,3000,https://www.myntra.com/kurta-sets/ishin/ishin-...
8653,13988136,Saree mall,Women,saree mall off white golden woven design bana...,9199,Onesize,4.2,319,sarees Full wear,7359,1840,https://www.myntra.com/sarees/saree-mall/saree...
9590,15126604,Amrutam Fab,Women,amrutam fab turquoise blue pink embroidered t...,11999,Onesize,4.3,293,lehenga-choli Full wear,8999,3000,https://www.myntra.com/lehenga-choli/amrutam-f...

In [218]:
sfc = sf[['Description','Individual_category']]
for i, rows in sf.iterrows():
    c = rows['Individual_category']
    u = []
    s = []
    p = word_tokenize(c)
    #s.append(p[k] for k in p)
    sfc['Description'][i] = p
    u = ' '.join(ps.stem(k)for k in p)
    sfc['Individual_category'][i] = u

In [219]:
sfc = sfc.rename({'Description':'Toke'}, axis = 1)

In [220]:
sf['Individual_category	'] = sfc['Individual_category']
sf['Toke'] = sfc['Toke']
sf

,Product_id,BrandName,category_by_Gender,Description,OriginalPrice (in Rs),SizeOption,Ratings,Reviews,Individual_category,Sell Price,Discount,URL,Individual_category\t,Toke
1306,12965780,Quechua By Decathlon,Men,quechua by decathlon men grey solid regular sh...,699,"29, 31, 32, 34, 36, 41, 42, 48",4.2,787,shorts Bottom Wear,7,692,https://www.myntra.com/shorts/quechua-by-decat...,short bottom wear,"[shorts, Bottom, Wear]"
6911,12965776,Quechua By Decathlon,Men,quechua by decathlon men brown solid regular f...,699,"29, 31, 32, 34, 36, 41, 42, 46, 48",4.2,378,shorts Bottom Wear,7,692,https://www.myntra.com/shorts/quechua-by-decat...,short bottom wear,"[shorts, Bottom, Wear]"
7247,12960954,NYAMBA By Decathlon,Men,nyamba by decathlon men grey solid regular fit...,699,"34, 36, 38, 40, 44, 52",4.2,364,shorts Bottom Wear,7,692,https://www.myntra.com/shorts/nyamba-by-decath...,short bottom wear,"[shorts, Bottom, Wear]"
7860,14210850,MANGO,Women,mango women pink floral printed organic cotton...,690,"XS, S, M, L, XL",4.1,344,tshirts Top Wear,7,683,https://www.myntra.com/tshirts/mango/mango-wom...,tshirt top wear,"[tshirts, Top, Wear]"
8180,11175006,MANGO,Women,mango women black white printed round neck pu...,690,"XS, S, M, L, XL",3.6,334,tshirts Top Wear,7,683,https://www.myntra.com/tshirts/mango/mango-wom...,tshirt top wear,"[tshirts, Top, Wear]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9641,14890980,Kvsfab,Women,kvsfab women green georgette swirling volume k...,8329,"S, M, L, XL, XXL, 3XL",4.3,292,kurtas Top Wear,6330,1999,https://www.myntra.com/kurtas/kvsfab/kvsfab-wo...,kurta top wear,"[kurtas, Top, Wear]"
7033,10635142,Hangup,Men,hangup men brown maroon sherwani with dhoti p...,9999,"S, M, L, XL, XXL, 3XL",3.6,373,sherwani Full wear,6599,3400,https://www.myntra.com/sherwani/hangup/hangup-...,sherwani full wear,"[sherwani, Full, wear]"
9954,13563222,Ishin,Women,ishin women peach coloured embroidered kurta w...,9999,"S, M, L, XL, XXL",4.2,284,kurta-sets Top Wear,6999,3000,https://www.myntra.com/kurta-sets/ishin/ishin-...,kurta-set top wear,"[kurta-sets, Top, Wear]"
8653,13988136,Saree mall,Women,saree mall off white golden woven design bana...,9199,Onesize,4.2,319,sarees Full wear,7359,1840,https://www.myntra.com/sarees/saree-mall/saree...,sare full wear,"[sarees, Full, wear]"
9590,15126604,Amrutam Fab,Women,amrutam fab turquoise blue pink embroidered t...,11999,Onesize,4.3,293,lehenga-choli Full wear,8999,3000,https://www.myntra.com/lehenga-choli/amrutam-f...,lehenga-choli full wear,"[lehenga-choli, Full, wear]"

In [221]:
X = cv.fit_transform(sf['Individual_category']).toarray()

In [222]:
x = cosine_similarity(X)

In [223]:
x.shape

(10000, 10000)

te = 'sarees'
index = []
for i,rows in sf.iterrows():
    c = rows['Toke']
    p = len(c)
    te = te.lower()
    for j in range (0,p):
        if(c[j] == te):
            index.append(i)

f = pd.DataFrame()
for i in range (0,len(index)):
    f[i] = sf.loc[index[i],]
f = f.transpose()

#f = f.transpose()
f

f[f['category_by_Gender'] == 'Women'].sort_values(['Sell Price','Ratings','Reviews'], ascending=[True,False,False])

In [244]:
#del f
def recom(text,gender):
    index = []
    for i,rows in sf.iterrows():
        c = rows['Toke']
        p = len(c)
        te = text.lower()
        for j in range (0,p):
            if(c[j] == te):
                index.append(i)
        f = pd.DataFrame()
    for i in range (0,len(index)):
        f[i] = sf.loc[index[i],]
    f=f.transpose()
    q = (f[f['category_by_Gender'] == gender].sort_values(['Sell Price','Ratings','Reviews'], ascending=[True,False,False]))
    return q

In [265]:
recom('tunics', 'Men')

KeyError: 'category_by_Gender'